.camp-explanation{
    justify-content: center;
    padding: 0% 10%;
    text-align: center;
    /* padding-top: 20px; */
    margin-bottom: 30px;
    font-size: large;
}

.camp-img-wrap{
    display: flex;
    justify-content: center;
}

.jotform-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jotform{
    width: 900px;
    height: 500px;
    /* left: 100px; */
}