.edit-delete-modal-content{
    width: 80%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 3em;
}

.delete-modal-content{
    width: 80%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 5em;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    display: flex;
    justify-content: flex-end;
    color: #808080;
}