.login-signup-page{
    min-height: 100vh;
    background-color: rgb(18, 18, 18);
    width: 100%;
    /* padding: 0% 20%; */
}

.login-signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.login-signup-header{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.17em;
    padding: 1em 0%;
}

#input-field{
    width: 50%;
}

.login-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    /* width: 100%; */
}

.actual-login{
    background-color: #3d424a;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: .5s;
}

.login-signup-question{
    color: #8E96A3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.actual-login:hover{
    background-color: #5c636e;
}

.ls-link{
    text-decoration: none;
    color: #235891;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.half-half{
    display: flex;
    flex-direction: row;
}

.login-pic {
    background-color: #121212;
    width: 50%;
    padding: 1em 0;
    background-image: url('../../assets/gba_photos/gba_splash.jpeg');
    background-color: rgba(18, 18, 18, 0.6);
    background-blend-mode: lighten;
    background-size: cover;
}

.firstname-lastname{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.first-last-input {
    width: 49%;
    margin: 0px;
}