.navlink-blue{
    /* text-decoration: none; */
    color: #235891;
    /* transition: .3s; */
}

.navlink-blue:hover{
    color: #327dcd;
}

.email-success{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}