.training-page{
    padding: 0% 10%;
}

.training-desc{
    padding-top: 20px;
    font-size: x-large;  
    margin-bottom: 50px;  
    text-align: center;
}

.schedule{
    /* display: flex;
    justify-content: center; */
    /* margin-left: 100px; */
}

.row1{
    display: flex;
    flex-direction: row;
    font-size: x-large;
}

.each-column{
    width: 14.28%;
    /* padding-right: 98px; */
    padding-left: 2px;
    border: solid 1px white;
}

.times{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    padding-top: 10px;
}

.header-section{
    display: flex;
    justify-content: space-between;
}


.schedule-header>h3{
    /* height: 300px;
    width: 700px; */
    /* border: solid 1px red; */
    color: yellow;
}

.training-photo{
    margin-bottom: 20px;
}

.training-actual-photo{
    height: 200px;
    width: 273px;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    /* border: solid 1px red; */
}

.whole-schedule{
    margin-bottom: 50px;
    border-bottom: solid 2px #373636;
    padding-bottom: 30px;
}

#parallelogram {
    width: 200px;
    height: 150px;
    transform: skew(20deg);
    background: rgb(69, 69, 69);
}

.grey{
    color: #8D96A3;
}