.whole-nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    align-items: center;
    padding: 20px 5%;
    background-color: #121212;
    border-bottom: solid 2px #373636;
}

.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
}

.home-button {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.burger {
    margin-right: 15px;
    color: rgb(160, 160, 160);
}

.burger-icon {
    cursor: pointer;
}

.login-signup {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    width: 160px;
    justify-content: space-between;
}

.login-signup-link {
    /* margin-left: 15px; */
    font-size: large;
    /* background-color: rgba(224, 7, 7, 1); */
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}

/* .ls-nav{
    height: 100%;
    width: 100%;
    padding: 10px;
} */

/* .login-signup-link>a {
    color: white;
} */


.login-signup-link:hover {
    background-color: rgb(56, 56, 56);
}

/* .navbar-spacer {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(220, 220, 220);
} */

.profile-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.profile-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.drop-down {
    position: fixed;
    /* left: 900px; */
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .2);
    /* margin-right: 5%; */
    margin-top: 10px;
    background-color: white;
    width: 175px;
    height: 150px;
    right: 5%;
    padding: 10px;
    /* padding: 0px 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    border-radius: 10px;
    /* z-index: 1000; */
    background-color: #282828;
}

.dropdown-info {
    padding: 5%;
    display: flex;
    color: white;
}

.dropdown-user{
    padding: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: solid 1px rgb(56, 56, 56);
    color: rgb(0, 255, 247);
}

.dropdown-info:hover {
    text-decoration: none;
    background-color: #3d3d3d;
    cursor: pointer;
}

.home-button-div {
    display: flex;
    /* color: white; */
    align-items: center;
    /* font-size: 40px; */
}

.favicon-home {
    margin-right: 10px;
}

.logo {
    margin-right: 10px;
}

.whole-bottom-nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    padding: 0% 15%;
    background-color: #121212;
    /* border-bottom: solid 2px #373636; */
}

#display-none{
    display: none;
}

#border{
    border-bottom: solid 1px #373636;
}

.gba-logo{
    /* background-color: #121212; */
    width: 150px;
    padding-top: 15px;
    /* color: #121212; */
}